<hr>
<div class="page-header" ng-show="!isLogged()">
	<h3>{{'APP.MENU.FILES' | translate}}</h3>
</div>
<form ng-controller="FilesController">
	<div class="form-group">
		<div class="custom-file">
			<div class="col-sm-5">
				<input class="custom-file-input" type="file" id="file1" name="file" multiple ng-files="getTheFiles($files)" />
				<label class="custom-file-label" for="file">{{'FORM.FILES.CHOOSE_FILES' | translate}}</label>				
			</div>
			<input class="btn btn-outline-success" type="submit" ng-click="uploadFiles()" value="{{'FORM.FILES.UPLOAD_FILES' | translate}}" /> 
		</div>			
	</div>
	<table st-table="displayedCollection" st-safe-src="dbFiles" class="table table-striped">
		<thead>
			<tr>
				<th st-sort="createDate">{{'FORM.FILES.CREATE_DATE' | translate}}</th>
				<th st-sort="name">{{'FORM.FILES.NAME' | translate}}</th>
			</tr>
			<tr>
				<th colspan="6">
					<input st-search="" class="form-control" placeholder="{{'FORM.DEFAULT.GLOBAL_SEARCH' | translate}}" type="text">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="file in displayedCollection">
				<td>{{file.createDate | date: 'yyyy-MM-dd HH:mm'}}</td>
				<td>{{file.name}}</td>
				<td ng-show="isLogged()">
					<div class="float-right">
						<a href="" ng-click="downloadGeneratedFile(file.id)" class="btn btn-outline-success" title="{{'FORM.DEFAULT.DOWNLOAD' | translate}}">
							<span class="fa fa-download"></span>						
						
						<a href="" ng-click="deleteFile(file)" class="btn btn-outline-danger" ng-show="hasRole('ADMIN')" title="{{'FORM.DEFAULT.DELETE' | translate}}">
							<span class="fa fa-trash-o"></span>
						</a> 	
						<a href="#!/edit_file/{{file.id}}" class="btn btn-outline-success" ng-show="hasRole('ADMIN')" title="{{'FORM.DEFAULT.EDIT' | translate}}">
							<span class="fa fa-pencil"></span>
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>	
</form>